.collection {
  width: 100%;
  color: var(--white);
  text-align: center;
  padding: 0 2rem;

  .collection__title {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 100px 0 50px;

    h2 {
      font-size: 6rem;
      font-family: var(--font-title);
      font-weight: 900;
      color: var(--white);
      line-height: 1;

      @media(max-width: 500px) {
        font-size: 4rem;
      }
    }
  }

  .collection__search {
    max-width: 600px;
    margin: 0 auto;

    >input {
      font-size: 0.8rem;
      font-family: var(--font-nanum);
      width: 100%;
      height: 50px;
      border: 1px solid var(--white50);
      border-radius: 5px;
      padding: 10px 10px 10px 15px;

      &:focus {
        outline: 0;
      }
    }
  }
}

.collection__table {
  margin-top: 3rem;
  overflow: auto;

  table {
    font-size: 0.8rem;
    border-collapse: collapse;
    border: 1px solid var(--white15);

    thead {
      tr {
        border-bottom: 1px solid var(--white15);

        th {
          color: var(--white);
          padding: 0.5rem 1rem;
          word-break: keep-all;
          cursor: pointer;
          transition: all 0.3s;

          &:nth-child(3) {
            cursor: default;
          }

          // 숨기기(추후수중)
          &:last-child {
            display: none;
          }

          &:hover {
            background-color: var(--white15);
          }

          .sort-arrow {
            display: inline-block;
            margin-left: 5px;
            width: 20px;
            height: 20px;
            background: var(--white50);
            border-radius: 50%;
            transition: all 0.3s;

            &.ascending {
              transform: rotate(180deg);
            }

            &.descending {
              transform: rotate(-360deg);
            }
          }
        }
      }

      img {
        width: 30px;
        height: 30px;
      }
    }

    tbody {
      tr {
        border-bottom: 1px solid var(--white15);
        transition: all 0.3s;

        &:hover {
          background-color: #009cff;
        }

        td {
          padding: 1rem;
          text-wrap: nowrap;

          .type {
            width: 40px;
            height: 40px;
          }

          img {
            padding: 5px;
            width: 50px;
            height: 50px;
          }
        }
      }
    }

  }
}