#footer {
    margin-top: 10px;
    padding: 20px;
    .footer__inner {
        font-size: 0.8rem;
        font-family: var(--font-nanum);
        text-align: center;
        color: var(--white15);
    }
}