body {
    background-color: var(--black);
}

#main {
    min-height: calc(100vh - 115px);
}

.container {
    max-width: 1280px;
    margin: 0 auto;

    @media(max-width: 1280px) {
        padding: 0 50px;
    }

    @media(max-width: 550px) {
        padding: 0 25px;
    }
}

// 속성
.neutral {
    background-color: #9f837b;
}

.fire {
    background-color: #D34D29;
}

.water {
    background-color: #166CD3;
}

.grass {
    background-color: #61A302;
}

.electric {
    background-color: #CCA702;
}

.ice {
    background-color: #18ACBB;
}

.ground {
    background-color: #8C5020;
}

.dark {
    background-color: #9C1047;
}

.dragon {
    background-color: #A54BC6;
}

// 스크롤바
/**  STYLE 2 **/

#style-2::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

#style-2::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

#style-2::-webkit-scrollbar-thumb {
    height: 4px;
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #ac8c36;
}